@import url("https://use.typekit.net/brp6pzc.css");

:root {
  --bg: #FFFFFF;
  --text: #000000;

}

body {
  margin: 0;
  background: #FFFFFF;
}
body.lock-scroll {
  height: 100vh;
  overflow: hidden;
}

/* --- Sistema de secciones ocultas/activas --- */
.section {
  display: none;
}

.section.active {
  display: block;
  
}

#header {
  display: contents;
}

/* NAVBAR */
.navbar {
  background: var(--bg);
  color: var(--text);
  padding: 0 1rem;
  height: clamp(140px, 10vw, 187px);
  display: flex;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  /* --- HEADER FIJO --- */
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.nav-inner {
  width: 100%;
  max-width: clamp(1200px, 83vw, 1600px);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.brand {
  width: clamp(200px, 15vw, 300px);
  height: auto;
  display: flex;
  align-items: center;
  color: var(--text);
  text-decoration: none;
  gap: 0.5rem;
}

.brand-logo {
  width: clamp(200px, 15vw, 300px);
  height: auto;

}

/* Navegación principal */
.main-nav {
  display: flex;
  align-items: center;
  width: 529px;
  height: 48px;
}

.main-nav a {
  color: var(--text);
  text-decoration: none;
  padding: 0.6rem 1rem;
  border-radius: 6px;
  font-family: 'Segoe UI Variable', sans-serif;
  font-style: normal;
  font-size: clamp(16px, 1.1vw, 21px);
  position: relative;
  transition: color 0.2s ease;
  font-weight: 500;
}

/* SOLO hover → cambia color, NO línea */
.main-nav a:hover {
  color: #295E4D;
}

/* Estado ACTIVO (click) → color + línea abajo */
.main-nav a[aria-current="true"] {
  color: #295E4D;
  font-weight: 700;
}

.main-nav a[aria-current="true"]::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background: #295E4D;
  border-radius: 2px;
}

/* Acciones derechas */
.icon-btn {
  width: 48px;
  height: 48px;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.08);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text);
  text-decoration: none;
}

.redesLogo {
  width: clamp(26px, 2.1vw, 40px);
  height: clamp(26px, 2.1vw, 40px);
}

.icon-btn:hover {
  background: rgba(255, 255, 255, 0.15);
}

/* Contenedor reorganizado: idiomas arriba, redes abajo */
.nav-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  height: 100%;
  padding-top: 0px;
  /* los pega arriba */
  gap: clamp(10px, 1.2vw, 50px);
}

/* Bloque idiomas */
.lang-group {
  position: absolute;
  /* keep it in the flow so it's above .socials */
  top: 0%;
  align-self: center;
  /* center horizontally within .nav-actions */
  display: flex;
  gap: 0.5rem;
  margin: 0;
  /* remove extra spacing */
}

/* Botones de idioma */
.lang-btn {
  width: clamp(64px, 5vw, 94px);
  height: clamp(27px, 2.2vw, 41px);
  background: transparent;
  color: var(--text);
  border: 0px;
  border-radius: 0 0 8px 8px;
  /* bordes inferiores curveados */
  cursor: pointer;
  font-weight: 700;
  transition: 0.25s ease;
  gap: 10px;
  font-family: 'Segoe UI Variable', sans-serif;
  font-style: bold;
  font-size: clamp(12px, 1vw, 18px);
  position: relative;
}

/* Hover: solo cambio de color */
.lang-btn:hover {
  color: #295E4D;
  text-decoration: underline;
  text-decoration-color: #295E4D;
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
}

/* Estado activo: color + línea abajo */
.lang-btn.active {
  background: #295E4D;
  color: white;
  font-weight: 700;
}

.lang-btn.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background: white;
  border-radius: 2px;
}

/* Redes debajo de idiomas */
.socials {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: clamp(144px, 8vw, 192px);
  height: clamp(48px, 3vw, 64px);
}


/* Botón hamburguesa */
.hamburger {
  display: none;
  font-size: 1.6rem;
  background: transparent;
  color: var(--text);
  border: none;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 900px) {

  .main-nav {
    display: none;
    position: absolute;
    top: 68px;
    left: 0;
    right: 0;
    background: var(--bg);
    flex-direction: column;
    padding: 1rem;
  }

  .main-nav.show {
    display: flex;
  }

  .hamburger {
    display: block;
  }

  .socials {
    display: none;
  }
}

.MensajeC {
  color: #2B2B2B;
  font-size: 48px;
  margin-top: 5px;
  text-align: center;
  font-family: 'Segoe UI Variable', sans-serif;
}

.MensajeCC {
  color: #2B2B2B;
  font-size: 30px;
  margin-top: 5px;
  text-align: center;
}

.imagenProx {
  width: 600px;
  height: auto;
}



/* === INICIO === */
/* estilos sección inicio */






/* === NOSOTROS === */
/* estilos sección nosotros */
.titulo-container {
  position: relative;
  margin: 0;
}

.titulo-nosotros {
  width: 100%;
  padding: clamp(0px, 6vw, 0px) 0;
  display: flex;
}


.titulo-principal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: clamp(48px, 3.4vw, 64px);
  font-family: 'Segoe UI Variable', sans-serif;
  margin: 0;
  font-weight: bold;
  text-align: center;
  z-index: 1;
}

.nosotros-container {
  width: 100vw;
  min-height: clamp(460px, 32vw, 612px);
  margin: clamp(32px, 5vw, 56px) auto;
  display: flex;
  flex-direction: row-reverse;
  margin-top: clamp(56px, 5vw, 75px);
  /* center it, top margin to avoid header */
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.nosotros-img {
  width: clamp(670px, 47vw, 890px);
  height: clamp(460px, 32vw, 612px);
  border-radius: 15px;
  /* curved borders */
  object-fit: cover;
  /* assuming the image might need to fit */
}

.nosotros-text {
  width: 39%;
  height: 68%;
  padding-right: 20px;
  /* space between text and image */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nosotros-text h1 {
  color: #295E4D;
  margin: 0 0 10px 0;
  font-family: 'Segoe UI Variable', sans-serif;
  font-size: clamp(24px, 1.65vw, 31px);
  font-style: bold;
}

.nosotros-text p {
  color: black;
  margin: 0;
  line-height: 1.5;
  font-family: 'Segoe UI Variable', sans-serif;
  font-size: clamp(16px, 1.1vw, 21px);
  text-align: justify;
}

/* === GrecasProposito === */
.proposito {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(40px, 10vw, 58px);
  padding: 0;
  background-color: #FFFFFF;
  /* opcional, ajústalo */
}

.titulo-proposito {
  color: #295E4D;
  font-size: clamp(36px, 2.5vw, 48px);
  font-family: 'Segoe UI Variable', sans-serif;
  font-weight: 700;
  white-space: nowrap;
}

.greca {
  height: clamp(40px, 3.5vw, 68px);
  width: auto;
}

.greca.izquierda {
  margin-right: clamp(20px, 3.5vw, 50px);
}

.greca.derecha {
  margin-left: clamp(20px, 3.5vw, 50px);
  transform: scaleX(-1);
}




/* CONTENEDOR GENERAL DE LAS CARDS */
.nosotros-cards {
  width: 100%;
  max-width: clamp(1130px, 79vw, 1503px);
  margin: 0 auto;
  margin-bottom: 150px;
  padding-top: 58px;

  display: flex;
  flex-direction: column;
  gap: clamp(40px, 6vw, 80px);

}


/* CARD BASE */
.nosotros-card {
  width: 80%;
  min-height: clamp(280px, 24vw, 352px);
  display: flex;
  gap: clamp(20px, 3vw, 40px);
  align-items: center;
}


.nosotros-card.left {
  margin-right: auto;
  flex-direction: row;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
}

.nosotros-card.right {
  margin-left: auto;
  flex-direction: row-reverse;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
}


.card-img {
  width: 47%;
}

.card-img img {
  width: 100%;
  height: auto;
  aspect-ratio: 425 / 352;
  object-fit: cover;
  display: block;
}
/* CONTENEDOR DE FONDO */
.nosotros-bg {
  width: 100%;
  min-height: 100vh; /* ocupa toda la pantalla */
  padding: 0;

  background-image: url("/img/Nosotros/FondoProposito.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;

  display: flex;
  align-items: center;
}


/* TEXTO */
.card-text {
  width: 45%;
  font-family: 'Segoe UI Variable', sans-serif;
  font-size: clamp(16px, 1.1vw, 21px);
  line-height: 1.55;
  color: #2B2B2B;
}

.Mision {
  color: #295E4D;
  font-size: clamp(36px, 2.5vw, 48px);
  margin-bottom: clamp(6px, 1vw, 10px);
  font-family: 'Segoe UI Variable', sans-serif;
  font-weight: 700;

  border-bottom: 3px solid #295E4D;
  padding-bottom: clamp(4px, 0.8vw, 8px);
  display: inline-block;
}


/* === ESPECIES === */
/* estilos sección especies */

/* === CONTACTO === */
/* estilos sección contacto */


/* === Footer === */
/* estilos sección footer */
.greca-footer {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  height: 30px;
  background-image: url('/img/Footer/GrecaA.svg');
  background-repeat: repeat-x;
  background-size: auto 30px;
  z-index: 5;
}

#Footer {
  position: relative;
  background-image: url('/img/Footer/Bajada.svg');
  background-size: cover;
  background-position: center;
  min-height: clamp(429px, 30vw, 570px);
  width: 100%;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* CENTRADO VERTICAL */
}

/* === CONTENEDOR GENERAL FOOTER === */
.footer-inner {
  width: 1130px;
  height: auto;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: clamp(150px, 6vw, 200px);

}

/* === LOGO + BOTÓN === */
.footer-brand {
  width: clamp(327px, 16vw, 435px);
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
  color: white;
}

.footer-logo {
  width: clamp(210px, 14.5vw, 279px);
  height: auto;
}


.footer-btn {
  width: clamp(166px, 11.5vw, 220px);
  height: clamp(48px, 3.4vw, 64px);
  background: #F4A418;
  color: white;
  font-family: 'Segoe UI Variable', sans-serif;
  font-weight: 700;
  text-decoration: none;
  border-radius: 4px;
  font-style: bold;
  font-size: clamp(16px, 1.1vw, 21px);
  display: flex;
  align-items: center;
  /* centra vertical */
  justify-content: center;
  /* centra horizontal */

  margin-top: 20px;
}

/* === BLOQUE TEXTOS (CENTRADO EN EL ESPACIO RESTANTE) === */
.footer-texts {
  width: clamp(557px, 38vw, 740px);
  height: clamp(217px, 15vw, 289px);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  color: white;
  font-family: 'Segoe UI Variable', sans-serif;
}

.footer-links {
  width: 210px;
  height: 217px;
}

/* Enlaces y atención */
.footer-links,
.footer-attention {
  display: flex;
  flex-direction: column;
  
}


.footer-links a:hover {
  color: #F4A418;
}


.footer-attention svg {
  width: clamp(20px, 1.4vw, 27px);
  height: clamp(20px, 1.4vw, 27px);
  color: white;
  margin-right: 10px;
}

.footer-attention li:hover span {
  color: #F4A418;
}

.footer-attention li:hover svg {
  color: #F4A418;
}

/* === TITULOS FOOTER === */
.footer-links h4,
.footer-attention h4 {
  color: #F4A418;
  margin: 0;
  font-size: 24px;
  font-family: 'Segoe UI Variable', sans-serif;
  font-style: bold;
  margin-bottom: 30px;
}

/* === LISTAS (TABULADO UNIFICADO) === */
.footer-links ul,
.footer-attention ul {
  list-style: none;
  padding-left: 24px;
  margin: 0;
  font-family: 'Segoe UI Variable', sans-serif;
}
/* === ITEMS === */
.footer-links li,
.footer-attention li {
  margin-bottom: 8px;
}

/* === LINKS ENLACES === */
.footer-links a {
  color: white;
  text-decoration: none;
  font-size: clamp(16px, 1.1vw, 21px);
  width: 162px;
  height: clamp(29px, 2vw, 39px);
  display: flex;
  align-items: center;
  font-weight: 600;
  font-family: 'Segoe UI Variable', sans-serif;
}

.footer-links a:hover {
  text-decoration: underline;
}

/* === ATENCIÓN (ICONO + TEXTO) === */
.footer-attention li {
  width: clamp(326px, 30vw, 434px);
  height: clamp(29px, 2vw, 39px);
  display: flex;
  align-items: center;
}

.footer-attention img {
  width: clamp(20px, 1.4vw, 27px);
  height: clamp(20px, 1.4vw, 27px);
  flex-shrink: 0;
  margin-right: 10px;
}

.footer-attention span {
  color: #ffffff;
  font-size: clamp(16px, 1.1vw, 21px);
  font-family: 'Segoe UI Variable', sans-serif;
  font-weight: 600;
}