<!-- contenido de FOOTER -->
<footer id="Footer">
    <div class="greca-footer"></div>


    <!-- logo + enlaces + atención -->
    <div class="footer-inner">


        <!-- BLOQUE LOGO + BOTÓN -->
        <div class="footer-brand">
            <img src="/img/Footer/LogoF.svg" alt="Inca Tropical Lumber" class="footer-logo">
            <a href="#Contacto" class="footer-btn">CONTÁCTANOS</a>
        </div>

        <!-- BLOQUE TEXTOS -->
        <div class="footer-texts">

            <!-- ENLACES -->
            <div class="footer-links">
                <h4>Enlaces</h4>
                <ul>
                    <li><a href="#inicio">Inicio</a></li>
                    <li><a href="#nosotros">Nosotros</a></li>
                    <li><a href="#productos">Productos</a></li>
                    <li><a href="#especies">Especies</a></li>
                    <li><a href="#contacto">Contacto</a></li>
                </ul>
            </div>

            <!-- ATENCIÓN -->
            <div class="footer-attention">
                <h4>Atencion</h4>

                
                    <li>
                        <img src="/img//Footer/Correo.svg" alt="Email" class="icon">
                        <span>HChaparrro@incatropicallumber.com</span>
                    </li>

                    <li>
                        <img src="/img//Footer/Telf.svg" alt="Teléfono" class="icon">
                        <span>(+51) 944 - 043 - 631</span>
                    </li>

                    <li>
                        <img src="/img//Footer/Telf.svg" alt="Teléfono" class="icon">
                        <span>+1 (263) 880 - 2837</span>
                    </li>

            </div>



        </div>


</footer>