<meta charset="UTF-8">
<header class="navbar">
  <div class="nav-inner">
    <!-- Logo -->
    <a href="/img/Logo.svg" class="brand">
      <img src="/img/LogoHead.svg" alt="Logo" class="brand-logo">
      <!--<span class="brand-text">TuMarca</span>-->
    </a>

    <!-- Navegación -->
    <nav class="main-nav">
      <a href="#inicio" data-es="Inicio" data-en="Home" aria-current="true">Inicio</a>
      <a href="#nosotros" data-es="Nosotros" data-en="About">Nosotros</a>
      <a href="#productos" data-es="Productos" data-en="Products">Productos</a>
      <a href="#especies" data-es="Especies" data-en="Species">Especies</a>
      <a href="#contacto" data-es="Contacto" data-en="Contact">Contacto</a>
    </nav>


    <!-- Redes + Hamburguesa -->
    <div class="nav-actions">
      <!-- Selector de idioma -->
      <div class="lang-group">
        <button class="lang-btn active" data-lang="es">Es</button>
        <button class="lang-btn" data-lang="en">En</button>
      </div>

      <div class="socials">
        <a href="/img/Linkedin.txt" class="icon-btn" aria-label="Linkedin"><img src="/img/Linkedin.txt" alt="Linkedin"
            class="redesLogo"></a>
        <a href="/img/Facebook.txt" class="icon-btn" aria-label="Facebook"><img src="/img/Facebook.txt" alt="Facebook"
            class="redesLogo"></a>
        <a href="/img/Instagram.txt" class="icon-btn" aria-label="Instagram"><img src="/img/Instagram.txt"
            alt="Instagram" class="redesLogo"></a>
      </div>

      <!--<button class="hamburger" id="hamburgerBtn">
        ☰
      </button>-->
    </div>

  </div>
</header>